nav a {
    touch-action: manipulation;
  }  

  .header-hidden {
    transform: translateY(-100%);
    transition: transform 0.3s;
  }  

  nav {
    transition: top 0.3s;
  }
  
  .nav-hidden {
    top: -100%; /* Adjust this value based on your header's height */
  }
  