body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F4EBD9;
}

.container {
    position: relative;
    max-width: 400px;
    margin: 100px auto 50px;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.logo {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 50px; 
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
input[type="submit"] {
    width: calc(100% - 20px);
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #58A4B0;
    color: white;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #373F51;
}